/* ----- font ------ */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Barlow:wght@100&family=Inter:wght@100;200;300&family=Roboto:wght@300&display=swap");
/* ---- VARIABLES FONTSIZE ----- */
/* -----MIXIN----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Assistant', sans-serif; }

/* grid */
.grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 1fr;
  gap: 5px; }

header {
  background-image: url(../img/transparencia.png);
  background-position-x: center;
  background-size: cover;
  width: 100%;
  height: 70rem;
  grid-area: header; }

main {
  background-color: white;
  grid-area: main; }

footer {
  background-color: #f2f2f2;
  grid-area: footer; }

/* flexbox*/
ul {
  list-style-type: none; }

/* ------ HEADER - navbar ----- */
/* HEADER */
.logo {
  width: 150px;
  padding: 2rem; }

/* ----nav ---- */
.navbar-nav {
  padding: 5rem;
  gap: 10rem;
  font-size: 2em;
  text-align: center; }

.header__arqanddi {
  text-align: center;
  line-height: 30rem;
  font-size: 3em; }

.header__accion {
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 2em;
  background: none; }

.header__accion button {
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  background: none; }

/* ----pagina principal ----- */
.contenido__titulo {
  color: black;
  font-size: 3.2em;
  text-align: none;
  padding: 2rem;
  border-bottom: 2px solid; }

.contenido__nosotros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .contenido__nosotros img {
    flex: 1 1 40%;
    width: 60rem;
    height: 45rem;
    padding: 2rem; }

.contenido__texto {
  flex: 1 1 60%;
  color: black;
  font-size: 2.5em;
  text-align: center;
  padding: 10rem; }

/* ----- especialidades------ */
.espe {
  display: flex;
  gap: 1rem;
  font-size: none;
  text-align: center;
  padding: 2rem; }
  .espe .box {
    flex: 1 1 clamp(300px, 30%, 400px); }
    .espe .box img {
      width: 25rem;
      height: 25rem;
      border: solid 1px;
      padding: 0.5rem; }
    .espe .box img:hover {
      transform: scale(1.5);
      transition: 1s ease; }
  .espe__titulo {
    font-size: 3.2em;
    text-align: none;
    padding: 2rem;
    border-bottom: 2px solid; }
  .espe h3 {
    font-size: 2em;
    text-align: center;
    padding: 1rem; }

.ubi {
  background: none; }
  .ubi h3 {
    font-size: 2em;
    text-align: none;
    padding: 1rem; }

.ubicacion__titulo {
  font-size: 3.2em;
  text-align: none;
  padding: 2rem;
  border-bottom: 2px solid; }

/* ----- ubicacion ------ */
/* ----- footer ------ */
.footer {
  padding: 0.5rem; }
  .footer__c {
    display: flex;
    padding: 2rem;
    font-size: 2em;
    text-decoration: none;
    padding: 1rem;
    flex-direction: column; }
  .footer h3 {
    font-size: 3.2em;
    padding: 2rem;
    border-bottom: 2px solid; }
  .footer p {
    font-size: 1.2rem;
    text-align: right; }

/* ----- PROYECTOS ------ */
.proyecto__h1 {
  grid-area: titulo;
  font-size: 3.2em;
  text-align: center;
  padding: 3rem; }

.edificios {
  padding: 5rem; }

.vivienda {
  padding: 5rem; }

/* ----- INTERIORES ------ */
.gridinterior h1 {
  grid-area: titulo;
  font-size: 3.2em;
  text-align: center;
  padding: 3rem; }

.gridinterior p {
  grid-area: texto;
  font-size: 2em;
  text-align: center;
  padding: 2rem; }

.intimagen {
  border: solid 1px;
  padding: 0.5rem;
  background-color: transparent; }

.interiores__estar {
  text-align: center;
  align-items: center;
  margin-top: 12rem; }
  .interiores__estar h2 {
    font-size: 3em; }
  .interiores__estar p {
    font-size: 2em;
    text-justify: auto;
    padding: 3rem; }
  .interiores__estar.estar {
    padding: 5rem; }
  .interiores__estar.cocina {
    padding: 5rem; }
  .interiores__estar.dormitorio {
    padding: 5rem; }

/* ----- REFERENTES ------ */
.img-fluid {
  width: 35rem;
  height: 35rem;
  padding: 5rem;
  display: block;
  margin: auto; }

/* ---- LINA BO BARDI ---- */
.lina__texto {
  font-size: none;
  text-align: left;
  padding: 7rem; }
  .lina__texto h1 {
    font-size: 3.2em;
    text-align: center;
    padding: none; }
  .lina__texto h2 {
    font-size: 2em;
    text-align: center;
    padding: none; }
  .lina__texto p {
    font-size: 1.8em;
    text-align: center;
    padding: 2rem; }

/* ---- NORMAN FOSTER ---- */
.norman__texto {
  font-size: none;
  text-align: left;
  padding: 7rem; }
  .norman__texto h1 {
    font-size: 3.2em;
    text-align: center;
    padding: none; }
  .norman__texto h2 {
    font-size: 2em;
    text-align: center;
    padding: none; }
  .norman__texto p {
    font-size: 1.8em;
    text-align: center;
    padding: 2rem; }

/* ---- FRANK LW ---- */
.frank__texto {
  font-size: none;
  text-align: left;
  padding: 7rem; }
  .frank__texto h1 {
    font-size: 3.2em;
    text-align: center;
    padding: none; }
  .frank__texto h2 {
    font-size: 2em;
    text-align: center;
    padding: none; }
  .frank__texto p {
    font-size: 1.8em;
    text-align: center;
    padding: 2rem; }

/* ---- LACATON Y VASSAL ---- */
.lyv__texto {
  font-size: none;
  text-align: left;
  padding: 7rem; }
  .lyv__texto h1 {
    font-size: 3.2em;
    text-align: center;
    padding: none; }
  .lyv__texto h2 {
    font-size: 2em;
    text-align: center;
    padding: none; }
  .lyv__texto p {
    font-size: 1.8em;
    text-align: center;
    padding: 2rem; }

/* ------ FORMULARIO ------ */
.contactos {
  font-size: 1.8em; }

/* ------ RESPONSIVE ------ */
/* --- mobile --- */
@media only screen and (max-width: 480px) {
  /*--menu de navegacion--*/
  .header__menu {
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
    gap: 0.5em;
    text-align: center;
    font-size: 0.45em;
    border-bottom: none; }
  .navbar-nav {
    padding: 0;
    gap: 0; }
  /*--TITULOS--*/
  .contenido__titulo {
    text-align: center; }
  .espe__titulo {
    text-align: center; }
  .ubicacion__titulo {
    text-align: center; }
  .footer h3 {
    text-align: center; }
  /*--NOSOTROS--*/
  .contenido {
    text-align: center;
    flex-direction: column; }
    .contenido img {
      width: 40rem;
      height: 25rem;
      padding: 1rem; }
    .contenido__texto {
      padding: 1rem;
      align-items: center;
      text-align: center;
      font-size: 1.5em; }
  .box {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    border: solid 1px;
    padding: 0.5rem; }
  /*---UBICACION---*/
  iframe {
    width: 40rem;
    height: 25rem;
    padding: 1rem; }
  .ubi h3 {
    font-size: 1.5em; }
  .espe {
    flex-direction: column;
    align-items: center; }
  .proyecto {
    flex-direction: column;
    align-items: center; } }

@media only screen and (min-width: 560px) and (max-width: 770px) {
  .navbar-nav {
    padding: 0;
    gap: 0; }
  /*--TITULOS--*/
  .contenido__titulo {
    text-align: center; }
  .espe__titulo {
    text-align: center; }
  .ubicacion__titulo {
    text-align: center; }
  .footer h3 {
    text-align: center; }
  /*--NOSOTROS--*/
  .contenido {
    text-align: center;
    flex-direction: column; }
    .contenido img {
      width: 40rem;
      height: 25rem;
      padding: 1rem; }
    .contenido__texto {
      padding: 1rem;
      align-items: center;
      text-align: center;
      font-size: 1.5em; }
  .box {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    border: solid 1px;
    padding: 0.5rem; }
  /*---UBICACION---*/
  iframe {
    width: 40rem;
    height: 25rem;
    padding: 1rem; }
  .ubi h3 {
    font-size: 1.5em; }
  .espe {
    flex-direction: column;
    align-items: center; }
  .proyecto {
    flex-direction: column;
    align-items: center; }
  /*---PROYECTOS/INTERIORES---*/
  .proyecto__h1 {
    grid-area: titulo;
    font-size: 1.8em;
    text-align: center;
    padding: 1rem; }
  .edificios {
    padding: 1rem; }
  .vivienda {
    padding: 1rem; }
  .interiores__estar {
    text-align: center;
    align-items: center;
    margin-top: 5rem; }
    .interiores__estar h2 {
      font-size: 2em; }
    .interiores__estar h3 {
      font-size: 1.5em; }
    .interiores__estar p {
      font-size: 1.5em;
      text-justify: auto;
      padding: 1rem; }
  /*----REFERENTES----*/
  .lina__texto {
    font-size: none;
    text-align: left;
    padding: 2rem; }
    .lina__texto h1 {
      font-size: 2em;
      text-align: center;
      padding: none; }
    .lina__texto h2 {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
    .lina__texto p {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
  .norman__texto {
    font-size: none;
    text-align: left;
    padding: 2rem; }
    .norman__texto h1 {
      font-size: 2em;
      text-align: center;
      padding: none; }
    .norman__texto h2 {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
    .norman__texto p {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
  .frank__texto {
    font-size: none;
    text-align: left;
    padding: 2rem; }
    .frank__texto h1 {
      font-size: 2em;
      text-align: center;
      padding: none; }
    .frank__texto h2 {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
    .frank__texto p {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
  .lyv__texto {
    font-size: none;
    text-align: left;
    padding: 2rem; }
    .lyv__texto h1 {
      font-size: 2em;
      text-align: center;
      padding: none; }
    .lyv__texto h2 {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
    .lyv__texto p {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
  .img-fluid {
    padding: 0.5rem; }
  .norman {
    flex-direction: column; } }

/* --- tablet --- */
@media only screen and (min-width: 780px) and (max-width: 992px) {
  /*--menu de navegacion--*/
  .navbar-nav {
    padding: 0;
    gap: 0; }
  /*--TITULOS--*/
  .contenido__titulo {
    text-align: center; }
  .espe__titulo {
    text-align: center; }
  .ubicacion__titulo {
    text-align: center; }
  .footer h3 {
    text-align: center; }
  /*--NOSOTROS--*/
  .contenido {
    text-align: center;
    flex-direction: column; }
    .contenido img {
      width: 40rem;
      height: 25rem;
      padding: 1rem; }
    .contenido__texto {
      align-items: center;
      font-size: 1.5em;
      text-align: center;
      padding: 1rem; }
  .box {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    border: solid 1px;
    padding: 0.5rem; }
  /*---UBICACION---*/
  iframe {
    width: 40rem;
    height: 25rem;
    padding: 1rem; }
  .ubi h3 {
    font-size: 1.5em; }
  .espe {
    flex-direction: column;
    align-items: center; }
  .proyecto {
    flex-direction: column;
    align-items: center; }
  /*---PROYECTOS/INTERIORES---*/
  .proyecto__h1 {
    grid-area: titulo;
    font-size: 1.8em;
    text-align: center;
    padding: 1rem; }
  .edificios {
    padding: 1rem; }
  .vivienda {
    padding: 1rem; }
  .interiores__estar {
    text-align: center;
    align-items: center;
    margin-top: 5rem; }
    .interiores__estar h2 {
      font-size: 2em; }
    .interiores__estar h3 {
      font-size: 1.5em; }
    .interiores__estar p {
      font-size: 1.5em;
      text-justify: auto;
      padding: 1rem; }
  /*----REFERENTES----*/
  .lina__texto {
    font-size: none;
    text-align: left;
    padding: none; }
    .lina__texto h1 {
      font-size: 2em;
      text-align: center;
      padding: none; }
    .lina__texto h2 {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
    .lina__texto p {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
  .norman__texto {
    font-size: none;
    text-align: left;
    padding: none; }
    .norman__texto h1 {
      font-size: 2em;
      text-align: center;
      padding: none; }
    .norman__texto h2 {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
    .norman__texto p {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
  .frank__texto {
    font-size: none;
    text-align: left;
    padding: none; }
    .frank__texto h1 {
      font-size: 2em;
      text-align: center;
      padding: none; }
    .frank__texto h2 {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
    .frank__texto p {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
  .lyv__texto {
    font-size: none;
    text-align: left;
    padding: none; }
    .lyv__texto h1 {
      font-size: 2em;
      text-align: center;
      padding: none; }
    .lyv__texto h2 {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
    .lyv__texto p {
      font-size: 1.5em;
      text-align: center;
      padding: none; }
  .img-fluid {
    padding: 1rem; } }
