.gridinterior {
    & h1 {
        grid-area: titulo;
        @include textos($font_size-32, center,3rem);
    }

    & p {
        grid-area: texto;
        @include textos($font_size-2,center,2rem);
    }

}

.intimagen {
    border: solid 1px;
    padding: 0.5rem;
    background-color: transparent;
}

.interiores__estar {
    text-align: center;
    align-items: center;
    margin-top: 12rem;

    & h2 {
        font-size: $font_size-3;
    }

    & p {
        font-size: $font_size-2;
        text-justify: auto;
        padding: 3rem;
    }

    &.estar {
        padding: 5rem;
    }

    &.cocina {
        padding: 5rem;
    }

    &.dormitorio {
        padding: 5rem;
    }
}