.contenido {
    &__titulo {
        color: black;
        @include textos($font_size-32,none,2rem);
        border-bottom: 2px solid;
    }

    &__nosotros {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        & img {
            flex: 1 1 40%;
            width: 60rem;
            height: 45rem;
            padding: 2rem;
        }
    }

    &__texto {
        flex: 1 1 60%;
        color: black;
        @include textos(2.5em, center,10rem);
    }
}

/* ----- especialidades------ */
.espe {
    display: flex;
    gap: 1rem;
    @include textos (none, center, 2rem);

    & .box {
        flex: 1 1 clamp(300px, 30%, 400px);

        & img {
            width: 25rem;
            height: 25rem;
            border: solid 1px;
            padding: 0.5rem;
        }

        & img:hover {
            transform: scale(1.5);
            transition: 1s ease;
        }
    }

    &__titulo {
        @include textos($font_size-32,none,2rem);
        border-bottom: 2px solid;
    }

    & h3 {
        @include textos($font_size-2,center,1rem);
    }

}

.ubi {
    background: none;

    & h3 {
        @include textos($font_size-2,none,1rem);
    }

}

.ubicacion__titulo {
    @include textos($font_size-32,none,2rem);
    border-bottom: 2px solid;
}
