.img-fluid {
    width: 35rem;
    height: 35rem;
    padding: 5rem;
    display: block;
    margin: auto;
}

/* ---- LINA BO BARDI ---- */
.lina__texto {
   @include textos(none, left, 7rem);

    & h1 {
       @include textos($font_size-32,center, none)
    }

    & h2 {
      @include textos ($font_size-2,center, none)
    }

    & p {
        @include textos ($font_size-18,center, 2rem)
    }
}


/* ---- NORMAN FOSTER ---- */
.norman__texto {
    @include textos(none, left, 7rem);

    & h1 {
        @include textos($font_size-32,center, none)
    }

    & h2 {
        @include textos ($font_size-2,center, none)
    }

    & p {
        @include textos ($font_size-18,center, 2rem)
    }
}


/* ---- FRANK LW ---- */

.frank__texto {
    @include textos(none, left, 7rem);

    & h1 {
        @include textos($font_size-32,center, none)
    }

    & h2 {
        @include textos ($font_size-2,center, none)
    }

    & p {
        @include textos ($font_size-18,center, 2rem)
    }
}

/* ---- LACATON Y VASSAL ---- */
.lyv__texto {
    @include textos(none, left, 7rem);

    & h1 {
        @include textos($font_size-32,center, none)
    }

    & h2 {
        @include textos ($font_size-2,center, none)
    }

    & p {
        @include textos ($font_size-18,center, 2rem)
    }
}